{% extends 'base.html.twig' %}

{% block title %}Nova Pessoa{% endblock %}

{% block body %}
    <div class="container">
        <h1>Cadastrar Nova Pessoa</h1>

        {{ include('pessoa/_form.html.twig') }}

        <a id="btnVoltarLista" href="{{ path('app_pessoa_index') }}" class="btn btn-primary">Voltar a Lista</a>
    </div>
{% endblock %}
